:root {
  --ink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
  --Gap: 20px;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s ease-in;
}

a:hover {
  transition: 0.3s ease-out;
}

.main {
  padding: 0px;
}

.nav {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 10px 230px 10px;
}

.nav img {
}

.nav button {
  cursor: pointer;
  border: 1px solid var(--ink);
  color: var(--ink);
  background-color: transparent;
  border-radius: 20px;
  width: 140px;
  font-size: 1rem;
  text-align: center;
  padding: 8px;
}

.nav button:hover {
  border: 1px solid var(--Light-Pink);
  color: var(--Light-Pink);
}

.container {
  margin: auto;
  font-family: 'Poppins';
}

.section1 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.section1 h1 {
  max-width: 1100px;
  font-family: 'Poppins';
  font-size: 3rem;
  letter-spacing: 0px;
  margin: 0;
}

.section1 p {
  max-width: 600px;
  font-family: 'Open Sans';
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 50px;
}

.section1 button {
  cursor: pointer;
  border: 1px solid var(--ink);
  background-color: var(--ink);
  color: white;
  border-radius: 40px;
  width: 400px;
  font-size: 2rem;
  text-align: center;
  padding: 28px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 100px;
}

.section1 button:hover {
  border: 1px solid var(--Light-Pink);
  background-color: var(--Light-Pink);
}

.section1 img {
  max-width: 95%;
  margin-bottom: 40px;
}

.section2 {
  max-width: 850px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 80px 35px 100px 35px;
}

.section2 .left,
.section2 .right {
  text-align: left;
}

.section2 .left h1,
.section2 .right h1 {
  margin: 0;
  padding: 0;
  font-size: 6rem;
  font-family: 'Open Sans';
}

.section2 .left p,
.section2 .right p {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: 'Open Sans';
  color: var(--ink);
  text-align: center;
}

.attribution {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: 'tahoma';
  font-size: 13px;
  text-align: center;
  column-gap: 5px;
}

@media (max-width: 500px) {
}
