:root {
  --ink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
  --Gap: 20px;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s ease-in;
}

a:hover {
  transition: 0.3s ease-out;
}

.main {
  padding: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav img {
}

.nav div {
  cursor: pointer;
  border: 1px solid var(--ink);
  color: var(--ink);
  border-radius: 20px;
  width: 110px;
  font-size: 1rem;
  text-align: center;
  padding: 8px;
}

.nav div:hover {
  border: 1px solid var(--Light-Pink);
  color: var(--Light-Pink);
  border-radius: 20px;
  width: 110px;
  font-size: 1rem;
  text-align: center;
  padding: 8px;
}

.container {
  max-width: 1100px;
  margin: auto;
  font-family: '';
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content h1 {
  font-family: 'Poppins';
}

.attribution {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: 'tahoma';
  font-size: 13px;
  text-align: center;
  column-gap: 5px;
}

@media (max-width: 500px) {
}
