:root {
  --ink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
  --Gap: 20px;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s ease-in;
}

a:hover {
  transition: 0.3s ease-out;
}

.main {
  padding: 0px;
}

.nav {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 80px 230px 80px;
}

.nav img {
}

.nav button {
  cursor: pointer;
  border: 1px solid var(--ink);
  color: var(--ink);
  background-color: transparent;

  border-radius: 20px;
  width: 110px;
  font-size: 1rem;
  text-align: center;
  padding: 8px;
}

.nav button:hover {
  border: 1px solid var(--Light-Pink);
  color: var(--Light-Pink);
}

.container {
  margin: auto;
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: 'Poppins';
}

.content h1 {
  max-width: 1100px;
  font-family: 'Poppins';
  font-size: 48px;
  letter-spacing: 0px;
  margin: 0;
}

.content p {
  max-width: 600px;
  font-family: 'Open Sans';
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 50px;
}

.btnGetStart {
  cursor: pointer;
  border: 1px solid var(--ink);
  background-color: var(--ink);
  color: white;
  border-radius: 40px;
  width: 400px;
  font-size: 2rem;
  text-align: center;
  padding: 26px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.btnGetStart:hover {
  border: 1px solid var(--Light-Pink);
  background-color: var(--Light-Pink);
}

.attribution {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: 'tahoma';
  font-size: 13px;
  text-align: center;
  column-gap: 5px;
}

@media (max-width: 500px) {
}
